.alert {
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
  width: 350px;
  background-color: $white;
  box-shadow: $box-shadow;
  border: 1px solid $black;

  .topbar {
    background: $gradient;
    font-family: $font-game;
    border-bottom: 1px solid $black;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 20px;
    line-height: 20px;

    img {
      width: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }

    .title {
      padding-left: 20px;
      padding-right: 20px;
      vertical-align: middle;
    }
  }

  .close {
    background-color: $white;
    color: $black;
    position: absolute;
    right: 0;
    top: 0;
    margin: 8px;
    border: 1px solid $black;
    width: 20px;
    height: 19px;
    text-align: center;
    transition: .2s;
    line-height: 10px;

    &:hover {
      transition: .2s;
      color: $white;
      background-color: $black;
      border: 1px solid $white;
      cursor: pointer;
    }
  }

  .alertTitle {
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .alertMessage {
    padding-left: 20px;
    padding-right: 20px;
  }

  .buttons {
    padding-left: 20px;
    padding-right: 20px;

    .button {
      font-size: 16px;
      font-family: $font-game;
      box-shadow: none;
      margin-right: 10px;
      padding: 10px;
      cursor: pointer;
    }
  }
}

.wizard {
  width: 600px;
  height: 400px;

  .left {
    width: 100px;
    display: inline-block;
    position: relative;
    float: left;
    margin-top: 20px;

    img {
      width: 80px;
      display: inline-block;
    }
  }

  .right {
    margin-top: 20px;
    display: inline-block;
    width: 450px;
    position: relative;
    right: 0;

    h2 {
      padding: none;
    }

    .alertMessage {
      max-width: 80%;
    }
  }

  .buttons {
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 90%;

    .wizardneveragain {
      top: 24px;
      position: absolute;
      left: 0;
      padding-left: 35px;
      padding-top: 5px;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border: 1px solid $black;
      }
      // &:hover input ~ .checkmark {
      //   background-color: #ccc;
      // }
      input:checked ~ .checkmark {
        background-color: $black;
      }
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      input:checked ~ .checkmark:after {
        display: block;
      }
      .checkmark:after {
        left: 9px;
        top: 6px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}