@font-face {
  font-family: AGaramondPro;
  src: url('../../assets/fonts/AGaramondPro-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: AGaramondPro;
  src: url('../../assets/fonts/AGaramondPro-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: AGaramondPro;
  src: url('../../assets/fonts/AGaramondPro-Italic.otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: AGaramondPro;
  src: url('../../assets/fonts/AGaramondPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Choc;
  src: url('../../assets/fonts/ChocStd.otf');
}