.sound::after {
  content: url('/assets/img/sound-off.png');
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 32px;
  cursor: pointer;
  z-index: 9999999999999999;
}

.mute::after {
  content: url('/assets/img/sound-on.png');
}