@font-face {
	font-family: 'Shlop-Regular';
	src: url('../../assets/fonts/shlop.ttf') format('truetype'); /* Safari, Android, iOS */
}

// --- COLORS

$element-border: #588ac5;
$black: #191919;
$white: #ffffff;
$gray: #f4f4f4;
$red: #cd1602;
$accent: #00ff00;
$shadow: rgba(137, 137, 137, 0.48);

$box-shadow: 4px 4px 0 0 $shadow;

// --- Type
$font: AGaramondPro;
$font-game: Shlop-Regular;

.center {
	text-align: center;
}

// --- General

body {
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	font-family: $font;
	color: $black;
	background: $gray;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&.expired {
		background: #222;
	}
}

header {
	position: fixed;
	padding: 10px;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	* {
		font-size: 20px;
		font-weight: bold;
	}
	#logo {
		text-align: left;
		margin: 0;
		display: block;
		float: left;
		h1 {
			text-decoration: none;
			display: inline-block;
			position: absolute;
			padding-left: 26px;
			margin-top: 13px;
			font-size: 16px;
			color: $black;
		}
		img {
			width: 40px;
		}
	}
	#about {
		float: right;
		display: block;
	}
}

// --- TIME COUNTER
.counter {
	position: fixed;
	z-index: 99999999;

	#bonusTime {
		position: absolute;
	}

	#counter {
		text-align: center;
		height: 30px;
		font-size: 20px;
		padding: 10px;
		font-family: $font;
		font-weight: bold;
		background-color: white;
		font-size: 18px;
		height: 20px;
		border: 1px solid $black;
		box-shadow: 4px 4px 0 0 rgba(137, 137, 137, 0.48);
	}

	#animatetimecounter {
		font-size: 22px;
		padding: 10px;
		font-family: $font-game;
		color: $red;
		opacity: 0;

		&:before {
			content: '+';
		}
	}
}

$time: 1.5s;
$timewiggle: $time;

.fadeinout {
	-webkit-animation: fadeinout $time linear forwards;
	animation: fadeinout $time linear forwards;
	opacity: 0;
}

.wiggle {
	-webkit-animation: wiggle $timewiggle linear forwards;
	animation: wiggle $timewiggle linear forwards;
	color: $red;
	transition: $timewiggle/2;
}

@keyframes wiggle {
	0% {
		transform: skewX(-10deg);
		transform: skewy(-10deg);
	}
	10% {
		transform: skewX(9deg);
		transform: skewy(9deg);
	}
	20% {
		transform: skewX(-8deg);
		transform: skewY(-8deg);
	}
	30% {
		transform: skewX(7deg);
		transform: skewY(7deg);
	}
	40% {
		transform: skewX(-6deg);
		transform: skewY(-6deg);
	}
	50% {
		transform: skewX(5deg);
		transform: skewY(5deg);
	}
	60% {
		transform: skewX(-4deg);
		transform: skewY(-4deg);
	}
	70% {
		transform: skewX(3deg);
		transform: skewY(3deg);
	}
	80% {
		transform: skewX(-2deg);
		transform: skewY(-2deg);
	}
	90% {
		transform: skewX(1deg);
		transform: skewY(1deg);
	}
	100% {
		transform: skewX(0deg);
		transform: skewY(0deg);
	}
}

@keyframes fadeinout {
	10% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	70% {
		opacity: 0;
	}
	90% {
		opacity: 1;
	}
}

// --- COUNTDOWN

#countdown {
	display: none;
	position: fixed;
	left: 48vw;
	top: 43vh;
	font-size: 78px;
	color: red;
	z-index: 9999999999;
	font-family: $font-game;
	background-color: white;
	padding: 30px;
	border: 1px $black solid;
	transform: translateX(-25%) translateY(-25%);
}

// --- pdf box

#save-modal {
	display: none;
	position: fixed;
	width: 500px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -100px; /* Negative half of height. */
	margin-left: -250px; /* Negative half of width. */
	padding: 20px;
	background-color: #eee;
	z-index: 9999999;
}

#pdf-download {
	display: none;
	position: fixed;
	top: 20px;
	text-align: center;
	width: 100%;
	cursor: pointer;
}

// --- SPREADS (game)

$spread-width: 900px;

.page-shadow {
	outline: 1px solid $black;
	box-shadow: 4px 4px 0 0 rgba(137, 137, 137, 0.48);
}
.no-page-shadow {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.wrapper {
	padding-top: 100px;
	position: absolute;
  left: 0px;
  right: 0px;
	.spread {
		max-width: $spread-width;
		height: $spread-width * 0.7070707; // A* ratio
		margin: 0 auto 50px auto;
		@extend .page-shadow;
		.achievements {
			width: $spread-width / 2;
			display: inline-block;
		}
		.page {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			width: $spread-width / 2;
			height: $spread-width * 0.7070707;
			float: left;
			background: white;
			position: relative;
			@extend .page-shadow;
			.page-element {
				width: 40%;
				height: auto;
				max-height: $spread-width * 0.7070707;
				display: block;
				float: left;
				position: absolute;
				border: 1px solid $element-border;
				line-height: 0;
				img {
					width: 100%;
					height: 100%;
				}
				p {
					font-size: 12px;
					line-height: 15px;
				}
				.close {
					float: right;
					display: block;
					position: absolute;
					top: 7px;
					right: 7px;
					font-size: 10px;
					cursor: crosshair;
				}
			}
		}
		&:first-child {
			@extend .no-page-shadow;
			.page {
				float: right;
				@extend .page-shadow;
			}
		}
		&:last-child {
			@extend .no-page-shadow;
			.page {
				@extend .page-shadow;
			}
		}
	}
}

#critic {
	width: 200px;
	height: 100px;
	background-color: #aaa;
	border-radius: 25px;
	position: absolute;
	right: 20px;
	top: 200px;
	padding: 20px;
}

// this is a mess
@media print {
	@page {
		size: A4 portrait;
		margin: 0;
	}
	* {
		-webkit-print-color-adjust: exact;
	}
	header,
	#counter,
	#critic {
		display: none;
	}
	.wrapper {
		width: 0 !important;
	}
	.spread {
		outline: none !important;
		width: 0 !important;
		// background-color: blue !important;
		.page {
			display: block;
			outline: none !important;
			-webkit-transform: scale(2.3);
			transform: scale(2.3); /* Equal to scaleX(0.7) scaleY(0.7) */
			left: 0;
			float: left !important;
			// background-color: red !important;
			page-break-after: always !important;
			page-break-before: always !important;
		}
	}
}

// --- intro

.intro {
	width: 650px;
	margin: auto;
	font-size: 22px;
	color: $black;
	line-height: 30px;

	.menu {
		background: $white;
		border: 1px solid $black;
		box-shadow: $box-shadow;
		padding: 30px;
		margin-top: 40px;
		a {
			width: 320px;
			font-size: 24px;
			display: block;
		}
	}

	a {
		background: $white;
		border: 1px solid $black;
		font-size: 24px;
		color: $black;
		display: inline-block;
		padding: 10px 30px;
		margin: 20px auto;
		text-decoration: none;
		text-align: center;
		.stylized {
			&:first-child {
				font-family: $font;
			}
			span:last-of-type {
				font-family: $font-game;
				color: $red;
			}
		}
		&:hover {
			background-color: $black;
			color: $white;
		}
	}
}

// --- splash screen

.splashpage {
	background-color: $white;
	border: 1px solid $black;
	box-shadow: $box-shadow;
	max-width: 540px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	.logotype {
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding-bottom: 60px;
		#publish {
			font-size: 80px;
			display: block;
			padding-right: 130px;
		}
		#or {
			font-size: 48px;
			padding-left: 110px;
		}
		#perish {
			font-family: $font-game;
			color: $red;
			font-size: 110px;
			line-height: 60px;
		}
	}
	.copyright {
		font-size: 12px;
		color: $black;
		text-align: center;
		padding: 0 30px;
	}
}

.border {
	border: 1px solid $black;
	max-width: 580px;
	height: 360px;
	position: absolute;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	filter: drop-shadow(4px 4px 0px rgba(137, 137, 137, 0.48));
}

.loadingbar {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	text-align: center;
	width: 200px;
	height: 10px;
	border: 1px solid $black;
	border-radius: 100px;
	#loader {
		height: 10px;
		width: 0%;
		border-radius: 100px;
		background-color: $shadow;
	}
}

#text {
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	text-align: center;
}

.blink {
	animation: fade 1s forwards;
	animation-iteration-count: infinite;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}



#canvas {
	width:100vw;
	height:100vh;
	position: absolute;
}
