@import "_sound.scss";
@import "fonts"; // --- COLORS
$element-border: #588ac5;
$black: #191919;
$white: #ffffff;
$gray: #f4f4f4;
$gradient: linear-gradient(90deg, #EE3131 0%, #FFE500 30%, #90CC2D 50%, #2EE2E2 60%, #4986FC 80%, #FD14FF 100%);
$red: $gradient;
$shadow: rgba(137, 137, 137, 0.48);
$box-shadow: 4px 4px 0 0 $shadow;
$box-shadow-hover: 6px 6px 0 0 $shadow; // --- Type
$font: AGaramondPro;
$font-game: Choc;

.mobile {
	display: none;
}

body {
	display: none;
}

.droppable {
	animation: blink_drop .1s infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}
@keyframes blink_drop {
	0% {
		transform: rotate(.5deg);
		box-shadow: 8px 8px 0 0 $shadow;
	}

	100% {
		transform: rotate(-.5deg);
		box-shadow: 8px 8px 0 0 $shadow;
	}
}

a {
	color: $black;

	&:hover {
		color: $red;
	}
}

.perish {
	color: $red;
	font-family: $font-game;
	background-image: $gradient;
	-webkit-text-fill-color: transparent;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

.regular {
	font-family: $font;
}

.center {
	text-align: center;
}
// --- General

body {
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	font-family: $font;
	color: $black;
	background-color: $gray;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.expired {
		cursor: not-allowed;

		canvas {
			cursor: not-allowed !important;
		}

		.wrapper {
			// display: none;
		}
		// header {
		// 	display: none;
		// }
	}
}

header {
	position: absolute;
	padding: 10px;
	width: 100%;
	z-index: 10;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	* {
		font-size: 20px;
		font-weight: bold;
	}

	#logo {
		text-align: left;
		margin: 0;
		display: block;
		float: left;

		h1 {
			text-decoration: none;
			display: inline-block;
			position: absolute;
			padding-left: 26px;
			margin-top: 13px;
			font-size: 16px;
			color: $black;
		}
	}

	a {
		img {
			max-width: 40px;
			max-height: 40px;
		}
	}

	#about {
		float: right;
		display: block;
		margin-top: 13px;
		font-size: 16px;
		color: $black;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

#archive {
	position: fixed;
	bottom: 20px;
	left: 20px;
	display: block;
	margin-top: 13px;
	font-size: 16px;
	color: $black;
	text-decoration: none;
}
// --- TIME COUNTER

.counter {
	position: fixed;
	z-index: 99999999;
	opacity: 0;

	#bonusTime {
		position: absolute;
	}

	#counter {
		text-align: center;
		height: 30px;
		font-size: 20px;
		padding: 10px;
		font-family: $font;
		font-weight: bold;
		background-color: white;
		font-size: 18px;
		height: 20px;
		border: 1px solid $black;
		box-shadow: 4px 4px 0 0 rgba(137, 137, 137, 0.48);
	}

	#animatetimecounter {
		font-size: 22px;
		padding: 10px;
		font-family: $font-game;
		color: $red;
		opacity: 0;

		&:before {
			content: '+';
		}
	}
}
$time: 1.5s;
$timewiggle: $time;

.fadeinout {
	-webkit-animation: fadeinout $time linear forwards;
	animation: fadeinout $time linear forwards;
	opacity: 0;
}

.wiggle {
	-webkit-animation: wiggle $timewiggle linear forwards;
	animation: wiggle $timewiggle linear forwards;
	color: $red;
	transition: $timewiggle/2;
}
@keyframes wiggle {
	0% {
		transform: skewX(-10deg);
		transform: skewy(-10deg);
	}

	10% {
		transform: skewX(9deg);
		transform: skewy(9deg);
	}

	20% {
		transform: skewX(-8deg);
		transform: skewY(-8deg);
	}

	30% {
		transform: skewX(7deg);
		transform: skewY(7deg);
	}

	40% {
		transform: skewX(-6deg);
		transform: skewY(-6deg);
	}

	50% {
		transform: skewX(5deg);
		transform: skewY(5deg);
	}

	60% {
		transform: skewX(-4deg);
		transform: skewY(-4deg);
	}

	70% {
		transform: skewX(3deg);
		transform: skewY(3deg);
	}

	80% {
		transform: skewX(-2deg);
		transform: skewY(-2deg);
	}

	90% {
		transform: skewX(1deg);
		transform: skewY(1deg);
	}

	100% {
		transform: skewX(0deg);
		transform: skewY(0deg);
	}
}
@keyframes fadeinout {
	10% {
		opacity: 1;
	}

	30% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	70% {
		opacity: 0;
	}

	90% {
		opacity: 1;
	}
}
// --- COUNTDOWN

#countdownWrapper {
	margin-left: auto;
	margin-right: auto;
	padding-top: 42vh;
	position: fixed;
	z-index: 9999999999;
	text-align: center;
	width: 100%;
	opacity: 0;
	display: none;

	#countdown {
		top: 20vh;
		font-size: 78px;
		font-family: $font;
		background-color: $white;
		padding: 30px;
		border: 1px $black solid;
		transition: .1s;
		margin-left: auto;
		margin-right: auto;
		display: table;
	}
}
// --- pdf box

#save-modal {
	display: none;
	opacity: 0;
	position: fixed;
	width: 50vw;
	min-width: 400px;
	max-width: 600px;
	top: 20%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	background-color: #eee;
	z-index: 9999999;
	background-color: $white;
	border: 1px solid $black;
	box-shadow: $box-shadow;
	text-align: center;

	h2 {
		text-align: center;
		margin-bottom: 0;
	}

	p {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 30px;
	}

	.tile {
		margin-left: auto;
		margin-right: auto;
		width: auto;
	}

	.button {
		margin-left: auto;
		margin-right: auto;
		font-size: 17px;
		display: inline-block;
		cursor: pointer;
		margin-bottom: 10px;

		&:first-of-type {
			margin-bottom: 0;
			margin-top: 0;
		}
	}

	#loading_dots {
		content: '...';
	}

	#loader {
		width: 100%;
		height: 20px;
		border: 1px solid $black;
		margin-top: 10px;

		#loadingbar {
			height: 20px;
			background-color: $red;
			border-right: 1px solid $black;
			animation: load 10s ease;
		}
	}

	#spinner {
		width: 100px;
		right: 20px;

		img {
			width: 30px;
			height: 30px;
			margin-left: -15px;
			margin-top: -15px;
			position: absolute;
			animation: rotate_printer 5s linear infinite forwards;
		}

		#animation {
			animation: load 1s ease-out infinite;
			background-color: $shadow;
			height: 10px;
			border-radius: 100px;
			position: absolute;
		}
	}
}
$size: 80px;
@keyframes load {
	0% {
		width: 0;
		height: 0;
		opacity: 1;
	}

	100% {
		width: $size;
		height: $size;
		margin-left: -$size/2;
		margin-top: -$size/2;
		opacity: 0;
	}
}
$rotate_printer: 360deg;
@keyframes rotate_printer {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate($rotate_printer);
		-moz-transform: rotate($rotate_printer);
		-ms-transform: rotate($rotate_printer);
		-o-transform: rotate($rotate_printer);
		transform: rotate($rotate_printer);
	}
	// 0% {
	// 	-webkit-transform: rotate(0deg);
	// 	-moz-transform: rotate(0deg);
	// 	-ms-transform: rotate(0deg);
	// 	-o-transform: rotate(0deg);
	// 	transform: rotate(0deg);
	// }
}

#pdf-download {
	display: none;
	position: fixed;
	top: 20px;
	text-align: center;
	width: 100%;
	cursor: pointer;
}
// --- SPREADS (game)
$spread-width: 900px;

.page-shadow {
	border: 1px solid $black;
	box-shadow: 4px 4px 0 0 rgba(137, 137, 137, 0.48);
}

.no-page-shadow {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.wrapper {
	padding-top: 100px;
	position: absolute;
	left: 0;
	right: 0;

	.spread {
		max-width: $spread-width;
		height: $spread-width * 0.7070707; // A* ratio
		margin: 0 auto 50px;
		// @extend .page-shadow;
		.canvas-container {
			border: 1px solid $black;
		}

		.achievements {
			width: $spread-width / 2;
			display: inline-block;
			max-width: 80%;

			h2 {
				border-bottom: 1px solid $black;
				max-width: 80%;
			}

			p {
				max-width: 80%;
				line-height: 1.2rem;
			}
		}

		.saved {
			display: none;
		}

		.instructions {
			display: inline-block;
			img.draganddrop {
				max-width: 50%;
			}
		}

		.page {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			width: $spread-width / 2;
			height: $spread-width * 0.7070707;
			float: left;
			background: white;
			position: relative;

			#first {
				text-align: right;
			}

			.pageNumber {
				display: block;
				padding-top: 10px;
			}

			&:nth-of-type(even) {
				border-left: 1px solid $black;

				.pageNumber {
					text-align: left;
				}
			}

			&:nth-of-type(odd) {
				.pageNumber {
					text-align: left;
				}
			}

			&:nth-of-type(even) {
				.pageNumber {
					text-align: right;
					display: block;
					padding-top: 5px;
				}
			}

			input {
				margin: auto;
				display: block;
				border: none;
				font-family: $font;
				text-align: center;
				position: absolute;
				left: 0;
				right: 0;
				width: 70%;
				z-index: 99999;
				background-color: transparent;

				&:focus {
					outline: none;
				}
			}

			#title {
				font-weight: bold;
				font-size: 30px;
				margin-top: 120px;
				border-bottom: 1px solid $black;
				padding-bottom: 5px;
			}

			#name {
				margin-top: 180px;
				font-size: 18px;
			}

			.page-element {
				width: 40%;
				height: auto;
				max-height: $spread-width * 0.7070707;
				display: block;
				float: left;
				position: absolute;
				border: 1px solid $element-border;
				line-height: 0;

				img {
					width: 100%;
					height: 100%;
				}

				p {
					font-size: 12px;
					line-height: 15px;
				}

				.close {
					float: right;
					display: block;
					position: absolute;
					top: -7px;
					right: -7px;
					font-size: 15px;
					background-color: white;
					padding-top: 10px;
					width: 20px;
					height: 10px;
					border-radius: 100px;
					border: 1px solid $black;
					box-shadow: 2px 2px 0 0 $shadow;
					text-align: center;
					cursor: crosshair;
				}
			}
		}

		&:first-child {
			@extend .no-page-shadow;

			.page {
				float: right;
				// @extend .page-shadow;
			}
		}

		&:last-child {
			@extend .no-page-shadow;

			.page {
				// @extend .page-shadow;
			}
		}
	}
}
// --- intro

#introduction {
	padding-top: 30vh;

	img {
		padding-bottom: 40px;
	}

	.button {
		animation: blink .8s infinite;
		animation-direction: alternate;
		animation-timing-function: ease-in-out;
		transition: .2s;

		&:hover {
			transition: .2s;
			animation: blink_hover .8s infinite;
			animation-direction: alternate;
			animation-timing-function: ease-in-out;
		}
	}

	#copyright {
		opacity: .5;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		font-size: 14px;
		color: $black;
		text-align: center;
		padding: 0 10px;
		margin: auto;

		.monospace {
			font-family: monospace;
		}

		&:hover {
			opacity: 1;
		}
	}
}
@keyframes blink {
	0% {
		opacity: .2;
	}

	100% {
		opacity: .8;
	}
}
@keyframes blink_hover {
	0% {
		opacity: .7;
	}

	100% {
		opacity: 1;
	}
}

.intro {
	max-width: 1100px;
	margin: auto;
	font-size: 22px;
	color: $black;
	line-height: 30px;
	padding-bottom: 100px;

	,
	.logos,
	h1,
	p {
		max-width: 600px;
		padding-bottom: 30px;
		margin: auto;
	}

	.logos {
		padding-top: 20px;

		img {
			max-width: 200px;
			float: left;
			margin-right: 30px;
		}

		img.fotocolectania {
			margin-top: -20px;
		}

		img.pl {
			max-width: 150px;
		}
	}

	hr {
		margin-bottom: 30px;
		max-width: 700px;
	}

	.menu {
		padding: 0;
		display: flex;
		flex-wrap: nowrap;

		.wrap {
			flex-grow: 1;
			margin-top: 20px;
			text-align: center;

			.button {
				height: 215px;
				font-size: 24px;
				display: inline-block;
				position: relative;
				margin-bottom: 5px !important;

				&:hover {
					background-color: $gray;
					color: $black;
				}

				img {
					padding-top: 30px;
					width: 100px;
					display: block;
					margin: auto;
					transition: .2s;
				}

				span {
					display: inline-block;
					vertical-align: bottom;
					position: absolute;
					bottom: 10px;
					left: 0;
					right: 0;
				}
			}

			p {
				text-align: center;
				font-size: 16px;
			}

			&:hover {
				img {
					animation-duration: .1s;
					animation-direction: alternate-reverse;
					animation-iteration-count: infinite;
					transition: .2s;
					padding-top: 27px;
				}
			}

			&:nth-of-type(1) {
				&:hover {
					img {
						animation-name: jiggle1;
					}
				}
			}

			&:nth-of-type(2) {
				&:hover {
					img {
						animation-name: jiggle2;
					}
				}
			}

			&:nth-of-type(3) {
				&:hover {
					img {
						animation-name: jiggle3;
					}
				}
			}

			&:nth-of-type(4) {
				&:hover {
					img {
						animation-name: jiggle4;
					}
				}
			}
		}
	}
}
@keyframes jiggle1 {
	0% {
		transform: rotate(-1deg);
		animation-timing-function: ease-in;
	}

	50% {
		transform: rotate(1.5deg);
		animation-timing-function: ease-out;
	}
}
@keyframes jiggle2 {
	0% {
		transform: rotate(-2deg);
		animation-timing-function: ease-in;
	}

	50% {
		transform: rotate(2.5deg);
		animation-timing-function: ease-out;
	}
}
@keyframes jiggle3 {
	0% {
		transform: rotate(-3deg);
		animation-timing-function: ease-in;
	}

	50% {
		transform: rotate(3.5deg);
		animation-timing-function: ease-out;
	}
}
@keyframes jiggle4 {
	0% {
		transform: rotate(-6deg);
		animation-timing-function: ease-in;
	}

	50% {
		transform: rotate(6.5deg);
		animation-timing-function: ease-out;
	}
}

.button {
	background: $white;
	border: 1px solid $black;
	font-size: 24px;
	color: $black;
	cursor: pointer;
	display: inline-block;
	padding: 10px 30px;
	margin: 20px auto;
	text-decoration: none;
	text-align: center;
	box-shadow: $box-shadow;
	transition: .2s;

	&:hover {
		box-shadow: $box-shadow-hover;
		transition: .2s;
	}

	&#done,
	&.booklet,
	&.pdf {
		display: none;
	}

	.stylized {
		&:first-child {
			font-family: $font;
		}

		span:last-of-type {
			font-family: $font-game;
			color: $red;
		}
	}

	&:hover {
		.stylized {
			background-image: $gradient;
			-webkit-text-fill-color: transparent;
			color: transparent;
			-webkit-background-clip: text;
			background-clip: text;
		}
	}
}
// --- splash screen

.splashpage {
	background-color: $white;
	border: 1px solid $black;
	box-shadow: $box-shadow;
	width: 50vw;
	height: 450px;
	margin-left: auto;
	margin-right: auto;

	.logotype {
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding-top: 50px;
		line-height: 30px;

		#publish {
			font-size: 80px;
			display: inline-block;
			padding-right: 10px;
		}

		#or {
			font-size: 48px;
			display: inline;
			padding-right: 100px;
			opacity: .7;
		}

		#perish {
			font-family: $font-game;
			color: $red;
			font-size: 110px;
			line-height: normal;
			background-image: $gradient;
			-webkit-text-fill-color: transparent;
			color: transparent;
			-webkit-background-clip: text;
			background-clip: text;
			display: block;
			padding-left: 140px;
		}
	}

	p {
		font-size: 20px;
		padding-bottom: 20px;
	}

	.copyright {
		font-size: 14px;
		color: $black;
		text-align: center;
		padding: 0 10px;
		max-width: 80%;
		margin: auto;

		.monospace {
			font-family: monospace;
		}
	}
}

.border {
	border: 1px solid $black;
	width: 55vw;
	height: 410px;
	position: absolute;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	filter: drop-shadow(4px 4px 0px rgba(137, 137, 137, 0.48));
	top: 80px;
	pointer-events: none;
}

.loadingwrapper {
	position: relative;

	.loadingbar {
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		width: 200px;
		height: 25px;
		border: 1px solid $black;
		background-color: $white;

		#loader {
			height: 25px;
			width: 0;
			background-color: grey;
		}
	}

	#text {
		font-size: 14px;
		padding-top: 18px;
		font-weight: bold;
		margin-left: auto;
		margin-right: auto;
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
	}
}

.blink {
	animation: fade 1s forwards;
	animation-iteration-count: infinite;
}
@keyframes fade {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

#canvas {
	width: 100vw;
	height: 100vh;
	position: absolute;
}
// --- saved
// body.saved {
// 	#countdown,
// 	#counter {
// 		display: none;
// 	}
// 	.page-element {
// 		border: none !important;
// 		.close {
// 			display: none !important;
// 		}
// 	}
// }

.collection {
	padding-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;

	.tile {
		// flex-grow: 1;
		width: 320px;
		margin-bottom: 20px;
		font-size: 24px;
		color: $black;
		display: block;
		text-decoration: none;

		&:hover {
			.publication {
				box-shadow: $box-shadow-hover;
				transition: .2s;
			}
		}

		.cover {
			float: left;
			width: 100px;
			height: 140px;
			border: 1px solid $black;
			box-shadow: $box-shadow;
			transition: .2s;
			display: inline-block;
			position: relative;
			background-color: $white;
		}

		p {
			padding: 10px 5px;
			margin: 0;
			font-size: 16px;
			line-height: 16px;
			font-weight: bold;
			text-align: center;
			word-wrap: break-word;
			position: absolute;
			width: 90px;
		}

		img {
			width: 100%;
		}
	}

	.description {
		display: inline-block;
		float: left;
		padding: 10px 15px;

		div {
			display: block;
			font-size: 12px;
			text-align: left;
			line-height: 14px;

			&.title {
				font-weight: bold;
			}

			span {
				display: inline;
			}
		}
	}
}
@import "saved";
@import "suggestions";
@import "alert";
@import "coin";
@import "mobile";