doctype html  
html(lang='en') 
  head
    title P/P (Publish or Perish)
    link(rel='stylesheet', href='assets/css/style.css')
    script(src='assets/js/jquery-3.2.1.min.js')
    script(src='assets/js/interact.min.js')
    script(src='assets/js/jspdf.min.js')
    script(src='assets/js/html2canvas.min.js')
    script(src='assets/js/html2pdf.bundle.min.js')
  body
    header
      h1 
       a(href='/') P/P (Publish or Perish)
      a About