include header.pug
header
  a#logo(href='/') 
    img(src='assets/img/logo_thumb.svg')
    h1 Publish or Perish!
  a#about(href='about') 
    img(src='/assets/img/about.svg')
  a#archive(href='/archive') Archive
