// !='<script> if (localStorage.getItem("firstTime") != "true"){ localStorage.setItem("firstTime","true"); window.location.href = "/splash" } </script>' // redirect to splash if it's first visit

include parts/headerLogo.pug

div.wrapper.intro
  h2.center About
  
  p Do you feel a sense of dread when you open Adobe InDesign™ or Microsoft Word™? If so, 
    i Publish or Perish! 
    | is the Desktop Publishing tool that's right for you. 

  p With its pressure cooking countdown, a series of sudden disruptions, and achievements to get, 
    i Publish or Perish! 
    | makes Desktop Publishing challenging as it was back in the days. 

  p 
    i Publish or Perish! 
    | will catapult you to a place where software meets the unexpected. 

  hr

  p This is a research and creation project commissioned by DONE, a thinking and action program by Foto Colectania Foundation that aims to approach the image’s new ecosystem in the digital technology and Internet era. The program is supported by Banc Sabadell Foundation and the Dirección General de Política e Industrias Culturales y El Libro del Ministerio de Cultura. More info: 
    a(href="http://www.done3.fotocolectania.org") www.done3.fotocolectania.org

  hr
  
  p Copyleft Ⓒ 1991 - 2018 University of Applied Sciences Amsterdam. All rights perturbed. Created by <a href="http://www.publishinglab.nl/">PublishingLab</a> (<a href="http://silviolorusso.com/">Silvio Lorusso</a>, <a href="http://www.stefkors.com">Stef Kors</a>) This publication software package is provided as is, and no guarantee is given that this software will perform in the desired way. 

  p You found a bug or you have a great feature to implement? 
    a(href="mailto:s@silviolorusso.com") Drop a line!

  hr

  p 
    i Publish or Perish! 
    | heavily relies on 
    a(href='http://fabricjs.com/') fabric.js
    | . The full repository can be found 
    a(href='http://github.com/silviolorusso/done-colectania/') here
    |. Sounds are courtesy of 
    a(href='https://github.com/loov/jsfx') jsfx
    |. The game's soundtrack is 
    a(href='http://freemusicarchive.org/music/Lance_Romance/Session_On_Devils_Day/Whistle_Synth') Whistle Synth 
    | by Lance Romance.

  hr

  div.logos
    a(href='http://www.fotocolectania.org/')
      img.fotocolectania(src='assets/img/fotocolectania-logo.png')
    a(href='http://www.done3.fotocolectania.org')
      img.done(src='assets/img/done-logo.png')
    a(href='http://www.publishinglab.nl/')
      img.pl(src='assets/img/publishinglab-logo.png')
    br(style='clear:both')

  hr

  p Thanks to Margreet Riphagen, Cristina Cochior, Danilo Di Cuia, Sebastian Schmieg, General Intellect. 

  // script(src="assets/js/splash_check.js")
script(src='assets/js/interface.js')
