// !='<script> if (localStorage.getItem("firstTime") != "true"){ localStorage.setItem("firstTime","true"); window.location.href = "/splash" } </script>' // redirect to splash if it's first visit

include parts/headerLogo.pug

div.wrapper.intro
  h2.center About
  
  p Do you feel a sense of dread when you open Adobe Indesign or Microsoft Word? If so, 
    i Publish or Perish! 
    | is the Desktop Publishing tool that's right for you. 

  p With its pressure cooking countdown, a series of sudden disruptions, and achievements to get, 
    i Publish or Perish! 
    | makes Desktop Publishing challenging like it was back in the days. 

  p 
    i Publish or Perish! 
    | will catapult you to a place where software meets the unexpected. 

  hr
  
  p Copyleft Ⓒ 1991 - 2018 University of Applied Sciences Amsterdam. All rights perturbed. Created by <a href="http://www.publishinglab.nl/">PublishingLab</a> (<a href="http://silviolorusso.com/">Silvio Lorusso</a>, <a href="http://www.stefkors.com">Stef Kors</a>) This publication software package is provided as is, and no guarantee is given that this software will perform in the desired way. 

  hr

  div.logos
    a(href='http://www.fotocolectania.org/')
      img.fotocolectania(src='assets/img/fotocolectania-logo.png')
    a(href='http://www.fotocolectania.org/')
      img.pl(src='assets/img/publishinglab-logo.png')
    br(style='clear:both')

  hr

  p Thanks to Margreet Riphagen, (who else?) ... 

  // script(src="assets/js/splash_check.js")
script(src='assets/js/interface.js')
