include parts/header.pug

div.wrapper
  h1 archive
  each p_id in p_ids
    div.publication(style='width: 100px; height: 170px; border: 1px solid #000; float: left; margin-right: 20px; font-size: 7px;')
      p= p_id

script(src='assets/js/main.js')
