include parts/headerLogo.pug

div.wrapper.intro

  h1.center Choose your Goal
  p.center Every writer has dream and now it’s time make them happen. First you to set your goals. Then you play the game. <br /> It’s now or ever. Publish or Perish
  
  .menu
    div.wrap
      a.button(href='/game?time=99999999999999&disruptions=false')#test
        img(src="assets/img/logo_demo.svg")
        span Demo
      p ∞ time & no distruptions
    div.wrap
      a.button(href='/game?time=600000') 
        img(src="assets/img/word.png")
        span Easy
      p 10min
    div.wrap
      a.button(href='/game?time=300000') 
        img(src="assets/img/kickstarter.png")
        span Medium
      p 5min
    div.wrap
      a.button(href='/game?time=120000') 
        img(src="assets/img/nature.jpg")
        span Hard
      p 2min

script(src='assets/js/interface.js')
