include parts/headerLogo.pug

div.wrapper.intro

  h1.center Choose your Goal
  
  .menu
    a.button(href='game?time=99999999999999&disruptions=false') Demo (∞ time and no disruptions)
    a.button(href='game?time=120000') Self-publishing (2 min)
    a.button(href='game?time=300000') Publish on Kickstarter (5 min)
    a.button(href='game?time=600000') Get published in Nature (10 min)
