include parts/headerLogo.pug

div.wrapper.intro

  h1.center Set Your Goal
  p.center It’s time to realize your publishing dreams. Set your goal first and then start publishing. It’s now or never. 
    i Publish or Perish!
  
  .menu
    div.wrap
      a.button(href='/game?disruptions=false&demo=true')#test
        img(src="assets/img/notebook-with-pencil-bw.png")
        span Demo
      p ∞ time & no distruptions
    div.wrap
      a.button(href='/game?time=120000') 
        img(src="assets/img/metro-bw.jpg")
        span Fast
      p 2 min
    div.wrap
      a.button(href='/game?time=300000') 
        img(src="assets/img/new-yorker-bw.jpg")
        span Medium
      p 5 min
    div.wrap
      a.button(href='/game?time=600000') 
        img(src="assets/img/nature-bw.jpg")
        span Slow
      p 10 min

script(src='assets/js/interface.js')
