include parts/header.pug

div.wrapper.intro

  h1.center Choose your Goal
  
  .menu
    a(href='game') Self-publishing
    a(href='game') Publish on Kickstarter
    a(href='game') Get published in Nature
