include parts/headerLogo.pug

div.wrapper.intro

  h1.center Choose your Goal
  
  .menu
    a.button(href='game?time=15000') Self-publishing
    a.button(href='game?time=20000') Publish on Kickstarter 
    a.button(href='game?time=50000') Get published in Nature
