include parts/header.pug

div.wrapper.level

  h1 Choose difficulty
  
  .menu
    a(href='game')
      button easy (slooooow)
    a(href='game')
      button normal (still kinda slow)
    a(href='game')
      button hard (fast)
    a(href='game')
      button f***ing hard (fast & furious)
