include parts/headerLogo_notype.pug

div.counter
  #animatetimecounter
  #counter
div#countdownWrapper
  span#countdown 3
// pages
div.wrapper
  div.spread#dropZone
    div.achievements.instructions
      h2 What do I do?
      p You can drag and drop images (
        strong .jpg, .png  
        | ) or text (
        strong .txt
        | ) onto the page.
      p The file-size limit is 
        strong.maxfilesize 1mb
        | .
      p Press 
        strong Backspace  
        | to remove elements.

      // img.draganddrop(src='assets/img/draganddrop.gif')


      div.button#done(onclick='showExpired()') 
        .stylized
          span Publication 
          span Ready

      h2 Achievements
      div.badges
    div.achievements.saved 
      h2 Time is up

      p Your publication data:
      div.publicationdata
        h3.title publication
        div.authors
          span Written by: 
          span
        div.date
          span Created on: 
          span
        div.imagesamount
          span Number of images: 
          span
        div.textamount
          span Amount of text:  
          span
        div.elapsedtime
          span Elapsed time:  
          span
        div.achievementsamount
          span Achievements obtained: 
          span

      div.button.save(onclick='savetoDb(Publication);')
        .stylized
          span Save 
          span Publication
      div.button.pdf(onclick='window.location.href = "/pdf?id=" + Publication.id;')
        .stylized
          span Download 
          span PDF
      div.button.booklet(onclick='window.location.href = "/pdf?id=" + Publication.id + "&booklet=true";')
        .stylized
          span Print 
          span Booklet
      div#download
    div.page#page1
      // input#title(type='textarea', placeholder='Insert Title Here', maxlength="16")
      // input#name(type='textarea', placeholder='Insert name Here', maxlength="32")
      canvas#p1
      span.pageNumber#first 1
  div.spread
    div.page
      canvas#p2
      span.pageNumber 2
    div.page
      canvas#p3
      span.pageNumber 3
  div.spread
    div.page
      canvas#p4
      span.pageNumber 4
    div.page
      canvas#p5
      span.pageNumber 5
  div.spread
    div.page
      canvas#p6
      span.pageNumber 6
    div.page
      canvas#p7
      span.pageNumber 7
  div.spread
    div.page
      canvas#p8
      span.pageNumber 8
    div.achievements.last_achievements.saved 
      h2 Time is up
      
      p Your publication data:
      div.publicationdata
        h3.title publication
        div.authors
          span Written by: 
          span
        div.date
          span Created on: 
          span
        div.imagesamount
          span Number of images: 
          span
        div.textamount
          span Amount of text:  
          span
        div.elapsedtime
          span Elapsed time:  
          span
        div.achievementsamount
          span Achievements obtained: 
          span

        div.button.save(onclick='savetoDb(Publication);')
          .stylized
            span Save 
            span Publication
        div.button.pdf(onclick='window.location.href = "/pdf?id=" + Publication.id;')
          .stylized
            span Download 
            span PDF
        div.button.booklet(onclick='window.location.href = "/pdf?id=" + Publication.id + "&booklet=true";')
          .stylized
            span Print 
            span Booklet

p#pdf-download download as pdf 


div.suggestions
div.coin


script(src='assets/js/base64imgs.js')
script(src='assets/js/main.js')
script(src='assets/js/game-elements.js')
script(src='assets/js/interface.js')

!= publication_script
