include parts/headerLogo_notype.pug

div.counter
  #animatetimecounter
  #counter
div#countdownWrapper
  span#countdown 3
// pages
div.wrapper
  div.spread
    // maybe move achievements outside spread
    div.achievements.instructions
      h2 Instructions
      p It’s possible to drag and drop images or text onto the page. Each image will add 5 seconds to the counter. Each text will add 3 seconds to the counter. When the time runs out your publication will be printed.
      h2 Achievements
      div.badges
    div.achievements.saved 
      h2 Your time has Expired
      p It’s possible to drag and drop images or text onto the page. Each image will add 5 seconds to the counter. Each text will add 3 seconds to the counter. When the time runs out your publication will be printed.
      p Your Publication data:
      div.collection
        a(href='saved?id=').tile#full_width
          div.publication
            p publication
            img(src='assets/img/cover.png')
          div.description
            title publication
            div.author
              span Written by 
              span publication id
            div.date
              span Created on: 
              span publication id
            div.assets
              span Number of assets: 
              span publication id
            div.pages
              span Number of pages:  
              span publication id
            div.time
              span Total time:  
              span publication id
            div.awards
              span Awards won: 
              span publication id
      a.button(onclick='savetoDb(Publication);')
        .stylized
          span Save 
          span PDF
      a.button#save(onclick='window.location.href = "http://localhost:3000/pdf?id=" + Publication.id;')
        .stylized
          span Print 
          span Publication
    div.page#page1
      // input#title(type='textarea', placeholder='Insert Title Here', maxlength="16")
      // input#name(type='textarea', placeholder='Insert name Here', maxlength="32")
      canvas#p1
  div.spread
    div.page
      canvas#p2
    div.page
      canvas#p3
  div.spread
    div.page
      canvas#p4
    div.page
      canvas#p5
  div.spread
    div.page
      canvas#p6
    div.page
      canvas#p7
  div.spread
    div.page
      canvas#p8
    div.achievements.last_achievements.saved 
      h2 Your time has Expired
      p It’s possible to drag and drop images or text onto the page. Each image will add 5 seconds to the counter. Each text will add 3 seconds to the counter. When the time runs out your publication will be printed.
      p Your Publication data:
      div.buttons
        div.collection
          a(href='saved?id=').tile#full_width
            div.publication
              p publication
              img(src='assets/img/cover.png')
            div.description
              title publication
              div.author
                span Written by 
                span publication id
              div.date
                span Created on: 
                span publication id
              div.assets
                span Number of assets: 
                span publication id
              div.pages
                span Number of pages:  
                span publication id
              div.time
                span Total time:  
                span publication id
              div.awards
                span Awards won: 
                span publication id
        a.button(onclick='savetoDb(Publication);')
          .stylized
            span Save 
            span PDF
        a.button#save(onclick='window.location.href = "http://localhost:3000/pdf?id=" + Publication.id;')
          .stylized
            span Print 
            span Publication

//- div#save-modal
//-   h2 Time has expired!
//-   p Do you wish to keep or discard this publication?
//-   div.button#save Keep
//-   div.button#save Restart
//-   //- div#loader
//-   //-   #loadingbar
//-   //- div#spinner
//-   //-   div#animation
//-     img(src="assets/img/printer.png")

div#save-modal
  h2 Time has expired!
  p Do you wish to print or save this publication?
  div.collection
    a(href='saved?id=').tile#full_width
      div.publication
        p publication
        img(src='assets/img/cover.png')
      div.description
        title publication
        div.author
          span Written by 
          span publication id
        div.date
          span Created on: 
          span publication id
        div.assets
          span Number of assets: 
          span publication id
        div.pages
          span Number of pages:  
          span publication id
        div.time
          span Total time:  
          span publication id
        div.awards
          span Awards won: 
          span publication id
  div.button#save Save publication to database
  br
  div.button#save Download .PDF and save to database
  //- div#loader
  //-   #loadingbar

p#pdf-download download as pdf 


div.suggestions
div.coin


script(src='assets/js/sounds-js.js')
script(src='assets/js/main.js')
// script(src="assets/js/countdown.js")
script(src='assets/js/saved.js')
script(src='assets/js/animate_timecounter.js')
script(src='assets/js/critic.js')
script(src='assets/js/alert.js')
script(src='assets/js/coin.js')
script(src="assets/js/time_follow_mouse.js")   
!= publication_script
