include parts/header.pug

div#counter

// pages
div.wrapper
  div.spread
    div.page#p1
  div.spread
    div.page#p2
    div.page#p3
  div.spread
    div.page#p4
    div.page#p5
  div.spread
    div.page#p6
    div.page#p7
  div.spread
    div.page#p8

// div#critic

script(src='assets/js/main.js')
!= publication_script