// !='<script> if (localStorage.getItem("firstTime") != "true"){ localStorage.setItem("firstTime","true"); window.location.href = "/splash" } </script>' // redirect to splash if it's first visit

include parts/headerLogo.pug

div.wrapper.intro.center

  img(src='assets/img/logo.svg').center

  p.center A experiment in making publishing challenging again 

  a.button(href='difficulty').center
    .stylized
      span Start 
      span Game
      
      
script(src='assets/js/interface.js')
