include parts/header.pug

div.wrapper.level

  h1 P/P (Publish or Perish)

  p P/P (Publish or Perish) is a ...

  h1 Choose difficulty

  a(href='game')
    button easy (slooooow)
  a(href='game')
    button normal (still kinda slow)
  a(href='game')
    button hard (fast)
  a(href='game')
    button f***ing hard (fast & furious)

  h2 Last Publications

  each p_id in p_ids
    div.publication(style='width: 100px; height: 170px; border: 1px solid #000; float: left; margin-right: 20px; font-size: 7px;')
      p= p_id

  a(href='archive') full archive