!='<script> if (localStorage.getItem("firstTime") != "true"){ localStorage.setItem("firstTime","true"); window.location.href = "/splash" } </script>'

include parts/headerLogo.pug

div.wrapper.intro

  p Why making another publishing tool that mimics the functions of the already simple and effective tools available? We have already plenty of  generalist tools and workflows, and they work just fine. 
  
  p So, why not making publishing challenging by defining some obstacles, limitations, etc that need to be overcome by the publisher/user? What if publishing had obstacles? What if some friction in the publishing process make the publication more rewarding? What if we apply the IKEA principle to publishing?

  a.button(href='difficulty')
    .stylized
      span Start 
      span Game

  br

  a.button(href='archive') Show Last Publications

  // script(src="assets/js/splash_check.js")
