include parts/header.pug

div.wrapper.level

  h1 P/P (Publish or Perish)

  p P/P (Publish or Perish) is a game blabla bla.

  h1 Choose difficulty

  a(href='pages.html')
    button easy (slooooow)
  a(href='pages.html')
    button normal (still kinda slow)
  a(href='pages.html')
    button hard (fast)
  a(href='pages.html')
    button f***ing hard (fast & furious)