doctype html  
html(lang='en') 
  head
    title phantomjs test
    script(src='assets/js/jquery-3.2.1.min.js')
    script
        != "$( document ).ready(function() { $('body').css('background-color', 'yellow'); });"
body
