include parts/headerLogo_notype.pug

// pages
div.saved_view
  div.spread
    // maybe move achievements outside spread
    div.achievements.saved 
      h2 Saved view
      p It’s possible to drag and drop images or text onto the page. Each image will add 5 seconds to the counter. Each text will add 3 seconds to the counter. When the time runs out your publication will be printed.
      a.button#save(onclick='window.location.href = "/pdf?id=" + Publication.id;')
        .stylized
          span Print 
          span Publication
    div.page
      canvas#p1
  div.spread
    div.page
      canvas#p2
    div.page
      canvas#p3
  div.spread
    div.page
      canvas#p4
    div.page
      canvas#p5
  div.spread
    div.page
      canvas#p6
    div.page
      canvas#p7
  div.spread
    div.page
      canvas#p8
    div.achievements.last_achievements.saved
      h2 Saved view
      p It’s possible to drag and drop images or text onto the page. Each image will add 5 seconds to the counter. Each text will add 3 seconds to the counter. When the time runs out your publication will be printed.
      div.buttons
        //- a.button(onclick='savetoDb(Publication);')
        //-   .stylized
        //-     span Save 
        //-     span PDF
        a.button#save(onclick='window.location.href = "/pdf?id=" + Publication.id;')
          .stylized
            span Print 
            span Publication    


script(src='assets/js/main.js')
script(src='assets/js/game-elements.js')
!= publication_script
