include parts/headerLogo.pug

// pages
div.saved_view
  div.spread
    div.achievements.saved 
      h2 Browse through!

      p Publication data:
      div.publicationdata
        h3.title publication
        div.authors
          span Written by: 
          span
        div.date
          span Created on: 
          span
        div.imagesamount
          span Number of images: 
          span
        div.textamount
          span Amount of text:  
          span
        div.elapsedtime
          span Elapsed time:  
          span
        div.achievementsamount
          span Achievements obtained: 
          span

      div.button.pdf.saved#fix(onclick='window.open("/pdf?id=" + Publication.id, "_blank");')
        .stylized
          span Download 
          span PDF
      div.button.booklet.saved(onclick='window.open("/pdf?id=" + Publication.id + "&booklet=true", "_blank");')
        .stylized
          span Print 
          span Booklet
    div.page
      canvas#p1
  div.spread
    div.page
      canvas#p2
    div.page
      canvas#p3
  div.spread
    div.page
      canvas#p4
    div.page
      canvas#p5
  div.spread
    div.page
      canvas#p6
    div.page
      canvas#p7
  div.spread
    div.page
      canvas#p8
    div.achievements.last_achievements.saved
      h2 Browse through!

      p Publication data:
      div.publicationdata
        h3.title publication
        div.authors
          span Written by: 
          span
        div.date
          span Created on: 
          span
        div.imagesamount
          span Number of images: 
          span
        div.textamount
          span Amount of text:  
          span
        div.elapsedtime
          span Elapsed time:  
          span
        div.achievementsamount
          span Achievements obtained: 
          span
      
      div.buttons
        div.button.pdf.saved(onclick='window.open("/pdf?id=" + Publication.id, "_blank");')
          .stylized
            span Download 
            span PDF
        div.button.booklet.saved(onclick='window.open("/pdf?id=" + Publication.id + "&booklet=true", "_blank");')
          .stylized
            span Print 
            span Booklet   


script(src='assets/js/main.js')
script(src='assets/js/game-elements.js')
script(src='assets/js/interface.js')
!= publication_script
