include parts/header.pug
canvas#canvas
div.wrapper
  div.splashwrapper
    div.border
    div.splashpage
        div.logotype
          span#publish Publish
          span#or or
          span#perish Perish
        p.copyright Copyright Ⓒ 1991 - 2018 University of Applied Sciences Amsterdam. All rights reserved. Created by PublishingLab (Silvio Lorusso, Stef Kors), This publication software package is provided as is, and no guarantee is given that this software will preform in the desired way. This product is licenced to: 
          span.monospace Done Colectania
          span . <br> Serial Number: 
          span.monospace 009993234884772
    div.loadingbar
      div#loader
    div#text
      span#percentage  
      span#message 
  
script(src='assets/js/interface-js.js')
