include parts/header.pug
canvas#canvas
div.wrapper
  div.splashwrapper
    div.border
    div.splashpage
        div.logotype
          span#publish Publish
          span#or or
          span#perish Perish
        p.copyright Copyright Ⓒ 1991 - 2018 Hogeschool van Amsterdam. All rights reserved. Created by PublishingLab (Silvio Lorusso, Stef Kors), This product is licenced to: Done Colectania. Serial Number: 009993234884772
    div.loadingbar
      div#loader
    div#text
      span#percentage  
      span#message 
  
script(src='assets/js/interface-js.js')
